{% set add_emprunt_active = 1 %}
{% extends 'layout.html.twig' %}

{% block contents %}
{% if success is defined %}
	{% if success %}
		<div class="alert alert-success loginsuccess">
	    	Vous venez d'emprunter un livre!
		</div>
	{% else %}
		<div class="alert alert-danger">
	    	Une erreur dans le formulaire!
		</div>
	{% endif %}
{% endif %}

<form method="post" enctype="multipart/form-data">
<strong>Utilisateur:</strong><br/>
<input class="form-control" type="text" name="personne" required />
<strong>Date de fin:</strong><br/>
<input class="form-control" type="date" name="date" />
<br/>
<input class="btn btn-success" type="submit" value="Emprunter" />
</form>

{% endblock %}