{% extends 'layout.html.twig' %}

{% block contents %}

<div>
  <h2>Synopsis</h2>
  <p>{{ book.synopsis }}</p>
</div>
<div>
  {% if book.image %}
        <img src="{{ app.request.basepath }}/uploads/{{ book.image }}.jpg" />
    {% endif %}
</div>
{% if not app.session is empty %}
<div class="container">
  <h3>Liste des emprunts</h2>
  <table class="table table-responsive">
    <thead>
      <tr>
        <th>Référence Livre</th>
        <th>Emprunter</th>
        <th>Rendre</th>
      </tr>
    </thead>
    <tbody>
      {% for exemplaire in exemplaires %}
        {% set empruntFin = null %}
        {% set empruntId = null %}
        <tr>
          <td>{{ exemplaire.id }}</td>
          <td>
            
            {% set bool = 0 %}
            {% for emprunt in emprunts %}
              {% if emprunt.exemplaire == exemplaire.id %}
                {% set bool = 1 %}
                {% set empruntFin = emprunt.fin %}
                {% set empruntId = emprunt.id %}
              {% endif %}
            {% endfor %}
            {% if bool == 0 %}
              <a href="{{ path('addEmprunt', {id: exemplaire.id}) }}"><button class='btn btn-primary'>Emprunter</button></a>
            {% else %}
              <div class='btn btn-danger no-clickable disabled'>Non disponible - jusqu'à {{ empruntFin|date('d/m/Y') }}</div>
            {% endif %}
          </td>
          <td>
            {% if bool == 1 %}
              <a href="{{ path('retour', {id: empruntId }) }}" class='btn btn-warning' >Retour</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<p>Il reste {{ nbExemplairesDispo }} exemplaires disponible à l'emprunt.</p>
{% endif %}

{% endblock %}